# =================================================================
# ARCHIVO: .dockerignore  (Capa 4 - Frontend)
# =================================================================
node_modules/
dist/
.git
.gitignore
.env
.env.local
*.md
